<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Satyam Yadav </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="js/vendor.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="zam-grey">
    <!-- template -->
    <script type="text/html" id="template">
      <div class="container white">
        <div class="row resume-template-default">
          <div class="col-sm-12 col-md-3 left-container">
          <div class="row profile-label  padding-40">
            <div class="col-xs-12">
              <img class="img-responsive img-circle" src="img/logo.png">    
            </div>
            <div class="col-xs-12">
              <h3><%= resume.basics.name %></h3>
              <small><%= resume.basics.label %></small>
            </div>
          </div>
          <div class="row profile-details">
            <div class="col-xs-12">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <i class="fa fa-info btn-round"></i>
                  <h4 class="list-group-item-heading">About Me</h4>
                  <p class="list-group-item-text"><%= resume.basics.summery %></p>
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-info btn-round"></i>
                  <h4 class="list-group-item-heading">Contact Me</h4>
                  <address>
                    <strong>Shrama's House</strong><br>
                    <%= resume.basics.location.address %><br>
                    <%= resume.basics.location.city %>, <%= resume.basics.location.pin %><br>
                    <abbr title="Phone">P:</abbr> <%= resume.basics.mobile %>
                    <a href="mailto:<%= resume.basics.email %>"><%= resume.basics.email %></a>
                  </address>
                </a>
                
                <a href="#" class="list-group-item">
                  <i class="fa fa-info btn-round"></i>
                  
                  <h4 class="list-group-item-heading">My Skills</h4>
                </a>
                <% _.forEach(resume.skills, function (skill, i) { %> 
                  
                  
                  <p class="list-group-item-text"><b><%= skill.name %>: </b><%= skill.keywords %></p>

                <% }) %> 
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm-12 col-md-9 right-container margin-top-30">
            
            <div class="row margin-0">
              <!-- Nav tabs -->
              <div class="col-sm-12">
                
               <ul class="nav nav-tabs" role="tablist">
                 <li role="presentation" class="active"><a href="#portfolio" aria-controls="Portfolio" role="tab" data-toggle="tab">Portfolio</a></li>
                 <li role="presentation"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Experience</a></li>
                 <li role="presentation"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a></li>
                 
               </ul>
              </div>

             

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="portfolio">


              <% _.forEach(resume.projects, function(project){ %> 
              <div class="col-sm-6">
                <div class="flat-card">
                  <div class="flat-card-img">
                    <img class="img-responsive"src="<%= project.images[0] %>">
                  </div>
                  <div class="flat-card-heading">
                    <h3><%= project.title %></h3>
                  </div>
                  <div class="flat-card-body">
                    <p><%= project.summery %></p>
                  </div>
                </div>                
              </div>

              <% }) %>
              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="experience">
                  <div class="row margin-0 text-center">
                    <% _.forEach(resume.work, function (profile, i) { %> 
                      <div class="col-sm-12 timeline-date"><%= resume.work[i].startDate %></div>
                      <div class="col-sm-12 timeline-content">
                        <div class="flat-card">
                          <div class="flat-card-img">
                          </div>
                          <div class="flat-card-heading">
                            <h3><%= resume.work[i].company %></h3>
                          <p><%= resume.work[i].website %></p>
                          </div>
                          <div class="flat-card-body">
                            <h4><%= resume.work[i].position %></h4>
                          <p class="padding-left-10"><%= resume.work[i].summery %></p>  
                          <p class="padding-left-10"><%= resume.work[i].highlights %></p>
                          </div>
                        </div>
                         
                      </div>
                      <div class="col-sm-12 timeline-date"><%= resume.work[i].endDate %></div>
                      
                    <% }) %>  
                  </div>  
                </div>
                <div role="tabpanel" class="tab-pane fade" id="education">
                <div class="row margin-0">
                  <div class="col-sm-12">
                    <% _.forEach(resume.education, function (edu, i) { %> 

                      <div class="row margin-0">
                        <div class="col-sm-12">

                      <h4>
                        <strong><%= edu.institution %></strong>
                      </h4>

                      <b>
                        <%= edu.university %>
                      </b>
                          
                        </div>

                        <div class="col-sm-12">
                          
                          <div class="">
                            <%= edu.endDate %>
                            to
                            <%= edu.startDate %>
                          </div>
                        </div>
                      </div>
                      <div class="row margin-0 padding-10 teal-text">

                        <div class="col-sm-8">
                          <%= edu.field %>
                        </div>

                        <div class="col-sm-4">
                          <%= edu.gpa %>
                        </div>
                      
                      </div>
                      <hr/>
                    <% }) %>  
                  </div>
                </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>

      <div id="resume" class="hide">
      <div id="resume-print">
        
      <div class="row resume-template-default "> 


        <div class="card col-sm-12 padding-30 yellow lighten-5" >




          <div>


                <!-- title name cv-->
                <header class="text-center ">
                  <h1 class="text-capitalize black-text"><%= resume.basics.name %></h1>
                  <p class="lead grey-text">
                    <%= resume.basics.label %>
                  </p>
                </header><!--/ title name cv-->

                <hr>

                <div class="row">

                  <!-- column left -->
                  <div class="col-md-7">

                    <!-- about me -->
                    <section class="cv-section">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// About Me</h3>

                      <article >

                        <div class="row">

                        
                    <div >

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Experiences</h3>


                  <% _.forEach(resume.work, function (profile, i) { %> 
                    
                    <div class="">
                      <div class="col-sm-12">
                        <h3><%= resume.work[i].company %></h3>
                      </div>
                    </div>
                    
                    <div class="col-sm-12">
                      <p><%= resume.work[i].website %></p>
                    </div>
                      
                      <div class="col-sm-6 teal-text">
                        <h4><%= resume.work[i].position %></h4>
                      </div>

                    <div class="col-sm-6 teal-text padding-top-10">
                        <span>  <%= resume.work[i].startDate %> to <%= resume.work[i].endDate %></span>
                    </div>

                    
                      <div class="col-sm-12">
                        <b>Summery:</b>
                        <p class="padding-left-10"><%= resume.work[i].summery %></p>
                      </div>
                    
                      <div class="col-sm-12">
                        <b>Accomplishments:</b>
                        <p class="padding-left-10"><%= resume.work[i].highlights %></p>
                      </div>
                  <% }) %>  
                    </div><!--/ experiences -->



                    <!-- education -->
                    <div class="col-sm-12 padding-0">
                      
                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Education</h3>


                      <% _.forEach(resume.education, function (edu, i) { %> 

                        <div class="row margin-0">
                          <div class="col-sm-12">

                        <h4>
                          <strong><%= edu.institution %></strong>
                        </h4>

                        <b>
                          <%= edu.university %>
                        </b>
                            
                          </div>

                          <div class="col-sm-12">
                            
                            <div class="">
                              <%= edu.endDate %>
                              to
                              <%= edu.startDate %>
                            </div>
                          </div>
                        </div>
                        <div class="row margin-0 padding-10 teal-text">

                          <div class="col-sm-8">
                            <%= edu.field %>
                          </div>

                          <div class="col-sm-4">
                            <%= edu.gpa %>
                          </div>
                        
                        </div>
                        <hr/>
                      <% }) %>  

                    </div>                



                  </div><!--/ column left -->

                  <!-- column right -->
                  <div class="col-md-5">

                    <!-- contact -->
                    <section class="cv-section wow" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Contact</h3>
                    <div class="padding-left-10">  
                      <article class="media">

                        <div class="pull-left">
                          <span class="fa fa-phone  btn-square teal lighten-2 white-text"></span>
                        </div>
                        <div class="media-body teal-text"><%= resume.basics.mobile %></div>

                      </article>

                      <article class="media">

                        <div class="pull-left">
                          <span class="fa fa-envelope btn-square teal lighten-2 white-text "></span>
                        </div>
                        <div class="media-body teal-text"><%= resume.basics.email %></div>

                      </article>

                      <article class="media">

                        <div class="pull-left">
                          <span class="fa fa-map-marker btn-square teal lighten-2 white-text "></span>
                        </div>
                        <div class="media-body teal-text"><%= resume.basics.location.address %></div>
                        <div class="media-body teal-text"><%= resume.basics.location.city %>-<%= resume.basics.location.pin %></div>

                      </article>

                      <article class="media">

                        <div class="pull-left">
                          <span class="fa fa-calendar-o btn-square teal lighten-2 white-text "></span>
                        </div>
                        <div class="media-body teal-text"><%= resume.basics.dob %></div>

                      </article>
                    </div>  
                    </section><!--/ contact -->

                    <section>
                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Social Profiles</h3>
                      <% _.forEach(resume.basics.profiles, function (profile, i) { %> 
                        <div class="media padding-left-10">
                          
                        <a href="<%= 'http://' + profile.network + '.com/' + profile.username %>">
                          <span class="media-body"><%= profile.network %></span>  <div class="media-body"><%= profile.username %></div> 
                        </a>
                        </div>

                      <% } ) %>  
                    </section>



                    <!-- skills -->
                    <section class="cv-section">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Skills</h3>
                      <div class="padding-left-10">
                        
                      <% _.forEach(resume.skills, function (skill, i) { %> 
                        
                        <h4><%= skill.name %></h4>
                        <p><%= skill.keywords %></p>

                      <% }) %>  

                      </div>
                    </section><!--/ skills -->

                    <!-- awards -->
                    <section class="cv-section">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// awards</h3>

                      <div class="padding-left-10">
                        
                      <% _.forEach(resume.awards, function (award, i) { %> 

                        <h4>
                          <%= award.awarder %>
                        </h4>

                        <div>
                          <%= award.date %>
                        </div>

                        <p>
                          <b><%= award.title %></b>
                        </p>

                      <% }) %>  

                      </div>
                      

                    </section>
                    <!-- hobbies -->
                    <section class="cv-section">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// Hobbies</h3>

                      <article class="padding-left-10">

                        <p><%= resume.hobbies %></p>

                      </article>

                    </section><!--/ hobbies -->

                    <section class="cv-section">

                      <h3 class="text-uppercase black-text margin-top-30 margin-bottom-20">// References</h3>

                      <div class="padding-left-10">
                        
                      <% _.forEach(resume.references, function (reference, i) { %> 

                        <div>
                          <%= reference.name %>
                        </div>

                        <div>
                          <%= reference.reference %>
                        </div>


                      <% }) %>  

                      </div>
                      

                    </section>

                  </div><!--/ column right -->

                </div>

              </div>
        </div>
      </div>
      </div>

      </div>
      </div>


                <!-- button download PDF -->
                <div class="text-center hidden-print padding-25">
                  <a href="#" title="Donwload Resume PDF" class="btn btn-primary-outline btn-long download-resume white-text">
                    <i class="fa fa-download white-text"></i>&nbsp; Download PDF
                  </a>
                </div><!--/ button download PDF -->











    </script>
<div class="">
  <script type="text/javascript">
    $(function(){
      app.components.site($('body'));
    });
  </script>
</div>



    <script src="js/site.js"></script>

  </body>
</html>
