<div class="modal-dialog modal-lg">
  <div class="modal-content animated fadeInUp">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Share a Project to showcase</h4>
    </div>
    <div class="modal-body white">


      <% var resume = data %>
      <div contenteditable="true" class="well">
        <%= JSON.stringify(resume) %>
      </div>

    </div>


  </div>
</div>
