    <script type="text/javascript">
      $(function(){
        app.components.resumeModal($('#resumeModal'));
      });
    </script>

<div class="modal-dialog modal-lg">
  <div class="modal-content animated fadeInUp">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Make Your Resume Awesome !!  </h4>
      <small>update your details in json > click update and then download it !</small>
    </div>
    <div class="modal-body white">


      <% var resume = data %>
      <textarea contenteditable="true" class="json-editor" id="resume-data">
        <%= JSON.stringify(resume, undefined, 2) %>
      </textarea>

    </div>

    <div class="modal-footer">
    </div>


  </div>
</div>
<div class="btn-float padding-20 teal lighten-3">
  <div class="btn pull-right  white"  data-dismiss="modal" >Cancle</div>
  <div class="btn reset-resume pull-right margin-right-10 red-text white" >Reset</div>
  <div class="btn update-resume pull-right margin-right-10 teal-text white">Update</div>
</div>
