
.resume-template-default {
	.media-body{
		line-height: 30px;
	}
	.btn-square {
		width: 35px;
	}

	.left-container {
		background-color: $dark;
		color: #fff;
		.profile-label {
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			background-color: $dark-1;
		}

		.profile-details {
			.list-group {
				background-color: transparent;
				.list-group-item {
					background-color: transparent;
					border: none;
					color: color("yellow", "lighten-5");
					margin-top: 20px;
					.list-group-item-heading {
						color: color("yellow", "lighten-1");
						margin-top: 4px;
						text-transform: capitalize;
						
						i {
							margin-right: 5px;
							color: #fff;
						}	
					}

				}
				.btn-round {
					display: inline-block;
					float: left;
					background-color: $dark-1;
				}
			}
		}

	}

	.right-container {


	}





}

@media (min-width: 1200px){
	.resume-template-default {
	  width: 1100px;
	}
}

@media print {

	body {
		background-color: #fffde7 !important
	}

	.hidden-print {
		height: 0px !important;
		width: 0px !important;
		display: none;
	}



	.resume-template-default {

		padding: 0px !important;
		margin: -50px !important;
		margin-top: -100px !important;

	.col-md-7 {
		width: 55%;
		float: left;
	}
	.col-md-5 {
		width: 45%;
		float: left;

	}

	.btn-square {
    width: 35px;
	}
	.teal {
	    background-color: #4db6ac !important;
	}

	.teal-text {
    color: #009688 !important;
	}

	.btn-square {
	    border: none;
	    border-radius: 0;
	}

	h3, .h3 {
    font-size: 24px;
	}
	h1, .h1, h2, .h2, h3, .h3 {
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-family: inherit;
	    font-weight: 500;
	    line-height: 1.1;
	    color: inherit;
	}

	h4, .h4 {
    font-size: 18px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

}

}

