.btn {
	@extend .btn;
	border-radius: 2px;
	border-color: #cfd8dc;
  padding: 6px 11px;
}
.btn-round {
  @extend .btn;
  border: none;
  border-radius: 50%;
}

.btn-square {
	@extend .btn;
	border: none;
	border-radius: 0;
}

.btn-long {
  @extend .btn;
  padding: 6px 32px;
}

.btn-float {
  background-color: #fff;
  position:fixed;
  bottom:20px;
  right:3%;
  z-index:100;
  font-size:17px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      
}

  
@media only screen and (max-width: 767px) {
  .btn-float {
    right: 0;
    border-radius: 0;
    border-top-left-radius:3px; 
    bottom: 0;

  }
}




