
.resume-template-default {
	.media-body{
		line-height: 30px;
	}
	.btn-square {
		width: 35px;
	}

	.left-container {
		background-color: $dark;
		color: #fff;
		.profile-label {
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			background-color: $dark-1;
		}

		.profile-details {
			.list-group {
				background-color: transparent;
				.list-group-item {
					background-color: transparent;
					border: none;
					color: color("yellow", "lighten-5");
					margin-top: 20px;
					.list-group-item-heading {
						color: color("yellow", "lighten-1");
						margin-top: 4px;
						text-transform: capitalize;
						
						i {
							margin-right: 5px;
							color: #fff;
						}	
					}

				}
				.btn-round {
					display: inline-block;
					float: left;
					background-color: $dark-1;
				}
			}
		}

	}

	.right-container {


	}





}

@media (min-width: 1200px){
	.resume-template-default {
	  width: 1100px;
	}
}

@media print {

	

}

